.repo-item {
  background-color: #f8f8ff;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center {
  text-align: center;
}
.repo-img {
  height: 120px;
}
.repo-name {
  color: #e73959;
  font-size: 23px;
  font-family: 'Roboto';
  margin: 0;
}
.repo-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
}
.count-img {
  height: 30px;
  margin-right: 10px;
}
.count {
  color: #1f1d1d;
  font-size: 15px;
  font-family: 'Roboto';
  margin: 0;
  padding-top: 7px;
}
